<div class="welcome">
  <h1>Alex Aimson coding test</h1>
  <p>Thanks for taking the time to review my take home exercise</p>
  <p>Below is an overview of what I have done</p>
  <a routerLink="/persons">Link to Person manager component</a>
</div>

<h2>What I have done</h2>
<ul>
  <li><input class="form-check-input" type="checkbox" value="" checked> Extend the person model in the data assembly to include some other properties such as DateOfBirth and Address, as well as anything else you'd like to add</li>
  <li><input class="form-check-input" type="checkbox" value="" checked> Remove / rename the home component and replace it with your own set of semantically meaningful components</li>
  <li><input class="form-check-input" type="checkbox" value="" checked> Display a list of people</li>
  <li><input class="form-check-input" type="checkbox" value="" checked> People in the list can be selected and load into a simple editor</li>
  <li><input class="form-check-input" type="checkbox" value="" checked> An editor is available next to the list - All properties should be editable (apart from Id!)</li>
  <li><input class="form-check-input" type="checkbox" value="" checked> Allow new people to be added to the list</li>
  <li><input class="form-check-input" type="checkbox" value="" checked> Add the ability to save updates to existing people</li>
  <li><input class="form-check-input" type="checkbox" value="" checked> When a user saves a person record, persist this in the in-memory database. (No need for a real relational backend)</li>
  <li><input class="form-check-input" type="checkbox" value="" checked> If you'd like to you could add other functionality, such as the ability to delete a person etc, but this isn't required</li>
  <li><input class="form-check-input" type="checkbox" value="" checked> Please play consideration to the visual design of the finished product</li>
</ul>

<h2>Potential improvements</h2>
<ul>
  <li>Refactor angular calls to a data service</li>
  <li>Switch to use a more persistent data source</li>
  <li>Angular tests</li>
  <li>Use Microsoft test host to test the endpoints</li>
  <li>Use docker to spin up databases</li>
  <li>Improve angular look/feel, angular material</li>
</ul>
